/* simple grid layout */
/* grid container */
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "sidebar photo photo button"
        "footer footer footer footer";
}

/* grid-area items */
.item {
    background-color: aliceblue;
    color: #000;
    text-align: center;
    padding: 5px;
}

.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }
.footer { grid-area: footer; }
.photo { grid-area: photo; }
.button { grid-area: button; }